@{
    ViewData["Title"] = "Web App";
}

<h2>Web App</h2>

<h4>Currently under construction!!!</h4>

<img src="https://maxcdn.icons8.com/Share/icon/Computer_Hardware//under_computer1600.png" style="width:304px;height:304px;">